html, body {
    scroll-behavior: smooth;
}

div {
    font-family: Tahoma;
}

.secao-largura-limitada {
    padding: 25px 0;
    margin: 0 auto;
    width: 53.3333%;
    min-width: 320px;
}

.secao-menu img {
    display: block;
    margin: 0 auto;
    height: 150px;
}


h1, h2 {
    text-align: center;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 18px;
}

.secao-menu {
    background-color: #afddfb;
    min-width: 320px;    
}

.secao-menu p {
    font-family: Tahoma;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
    padding: 15px 0;
}

.secao-sobre,
.secao-corretores
.secao-servicos {
    text-align: justify;
}

p {
    font-size: 18px;
    line-height: 28px;
    padding: 0 15px;
}

iframe {
    width: 60%;
    height: 350px;
    border: 0;
    margin: 0 auto;
}

.links-menu {
    text-align: justify;
}

.links-menu a {
    padding: 25px;
}

.secao-servicos {
    color: #ffffff;
    background-color: #1d80c1;
}

.lista-servicos {
    margin: 0 auto;
    width: 135px;
}

.lista-contatos {
    margin: 0 auto;
    width: 135px;
}

.texto-azul,
.secao-corretores a {
    color: #1d80c1;
    font-weight: bold;
}

.texto-amarelo {
    color: #e5eb34;
    font-weight: bold;
}

.secao-servicos p {
    margin: 25px;
}

.secao-contato p {
    background-color: black;
    margin: 25px 25px;
}

.secao-contato a {
    background-color: #ffffff;
}

.secao-banner {
    margin-top: 50px;
}

.secao-banner img {
    width: 100%;
    min-width: 320px;
}

.secao-contato {
    color: #ffffff;
    background-color: #1d80c1;
    text-align: center;
}

.secao-sobre img,
.secao-corretores img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

