html, body {
    scroll-behavior: smooth;
}


div {
    font-family: Tahoma;
    padding: 25px 0;
    display: block;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 18px;
}

.secao-menu {
    background-color: #afddfb;    
}

.secao-menu p {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
}

.secao-sobre,
.secao-corretores {
    text-align: justify;
}

p {
    font-size: 18px;
    line-height: 28px;
}

iframe {
    width: 600px;
    height: 350px;
    border: 0;
    display: block;
    margin: 0 auto;
}

.secao-menu img {
    height: 150px;
}

.links-menu {
    justify-content: center;
}

.links-menu a {
    padding: 25px;
}

.secao-servicos {
    color: #ffffff;
    background-color: #1d80c1;
}

.secao-servicos p {
    text-align: center;
}

.lista-servicos {
    display: block;
    margin: 0 auto;
    width: 135px;
}

.texto-azul,
.secao-corretores a {
    color: #1d80c1;
    font-weight: bold;
}

.texto-amarelo {
    color: #e5eb34;
    font-weight: bold;
}

.secao-sobre p,
.secao-servicos p,
.secao-corretores p {
    padding: 25px 50px;
    display: block;
    margin: 0 auto;
}

.secao-contato p {
    background-color: black;
    margin: 25px 25px;
}

.secao-contato a {
    background-color: #ffffff;
}

.secao-banner {
    margin-top: 50px;
}

.secao-contato {
    color: #ffffff;
    background-color: #1d80c1;
    text-align: center;
}

.resizable {
    width: 100%;
    max-width: 100%;
    height: auto;
 
}

.resizable img,
.resizable iframe {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

